<!DOCTYPE html>
<html ng-app="myWorkflow">
<head>
    <title>Sprint Overview</title>
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body ng-cloak>
    <!-- Menu -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/app/pages/index.html">My Workflow</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
        </div>
    </nav>

<div ng-controller="sprintOverviewController">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{devName}}'s Contributions</h1>

                <div ng-repeat="sprint in sprints">
                    <div class="well">
                        <h2>{{sprint.sprintName}}</h2>
                        <div class="well" ng-repeat="story in sprint.stories">
                            <b>Story Number: </b> {{story.storyNumber}}<br/>
                            <b>Story Title: </b> {{story.storyTitle}}<br/>
                            <b>Points: </b> {{story.points}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="../../Scripts/jquery-2.2.3.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/angular-sanitize.js"></script>
    <script src="../app.js"></script>
    <script src="../js/services/storyService.js"></script>
    <script src="../js/controllers/sprintOverviewController.js"></script>
</body>
</html>